 /* TABLE HEADER */
 th {
     font-weight: 900;
     color: rgba(0, 0, 0, 0.805);
 }

 /* ACTIONS BUTTON */
 .fa-solid.fa-pen-to-square {
     color: #000080;
     font-size: 24px;
 }

 .fa-solid.fa-pen-to-square:hover {
     color: #a94442;
 }

 .fa-solid.fa-trash {
     font-size: 20px !important;
 }

 /* DATA TABLE BUTTON */
 .custom-button {
     background-color: #000080 !important;
     color: #fff !important;
     border: none !important;
 }

 .custom-button:hover {
     background-color: #a12a38 !important;
 }

 .loading-message {
     font-family: 'Arial', sans-serif;
 }